# Includes the list of all dependencies required to run setup() and 
# use the package in some new environment.
# E.g., for creating a conda environement, or to be used in testing workflow, 
# or to host the documentation on Read the Docs


# For the documentation
sphinx==7.3.7
sphinx_rtd_theme==2.0.0
sphinx-copybutton==0.5.2
sphinxcontrib-bibtex==2.6.2
myst-nb==1.1.0
numpydoc==1.7.0

# TODO: Need to update the following later
sphinx-autoapi==2.1.0
astroid==2.15.5
sphinxcontrib-collections @ git+https://github.com/anugrahjo/sphinx-collections.git

# For the dependencies
# dolfinx==0.5.1
csdl_alpha @ git+https://github.com/LSDOlab/csdl_alpha.git
numpy==1.24.2
pytest==7.3.1
gitpython==3.1.31
git+https://github.com/anugrahjo/sphinx-collections.git
vedo==2024.5.1


# For the build
setuptools
